## Dataset Loading and Basic Exploration

### importing necessary libraries

In [2]:
# importing necessary libraries
import pandas as pd
import numpy as np

#### Unzipping the dataset

In [4]:
! unzip ../Data/archive.zip -d ../Data/

Archive:  ../Data/archive.zip
  inflating: ../Data//customer_churn_dataset-testing-master.csv
  inflating: ../Data//customer_churn_dataset-training-master.csv

In [7]:
dataset  = pd.read_csv('../Data/customer_churn_dataset-training-master.csv')

In [12]:
# simple peek at the dataset

dataset.head()

,CustomerID,Age,Gender,Tenure,Usage Frequency,Support Calls,Payment Delay,Subscription Type,Contract Length,Total Spend,Last Interaction,Churn
0,2.0,30.0,Female,39.0,14.0,5.0,18.0,Standard,Annual,932.0,17.0,1.0
1,3.0,65.0,Female,49.0,1.0,10.0,8.0,Basic,Monthly,557.0,6.0,1.0
2,4.0,55.0,Female,14.0,4.0,6.0,18.0,Basic,Quarterly,185.0,3.0,1.0
3,5.0,58.0,Male,38.0,21.0,7.0,7.0,Standard,Monthly,396.0,29.0,1.0
4,6.0,23.0,Male,32.0,20.0,5.0,8.0,Basic,Monthly,617.0,20.0,1.0

## EDA

* CustomerID: A unique identifier for each customer
* Gender: Gender of the customer
* Age: The age of the customer
* Tenure: Duration in months for which a customer has been using the company's products or services
* Usage Frequency: Number of times that the customer has used the companyâ€™s services in the last month
* Support Calls: Number of calls that the customer has made to the customer support in the last month
* Payment Delay: Number of days that the customer has delayed their payment in the last month
* Subscription Type: Type of subscription the customer has choosen
* Contract Length: Duration of the contract that the customer has signed with the company
* Total Spend: Total amount of money the customer has spent on the company's products or services
* Last Interaction: Number of days since the last interaction that the customer had with the company
* Churn: Binary label indicating whether a customer has churned (1) or not (0)

In [13]:
## looking at each coilumns data types and null value counts
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 440833 entries, 0 to 440832
Data columns (total 12 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   CustomerID         440832 non-null  float64
 1   Age                440832 non-null  float64
 2   Gender             440832 non-null  object
 3   Tenure             440832 non-null  float64
 4   Usage Frequency    440832 non-null  float64
 5   Support Calls      440832 non-null  float64
 6   Payment Delay      440832 non-null  float64
 7   Subscription Type  440832 non-null  object
 8   Contract Length    440832 non-null  object
 9   Total Spend        440832 non-null  float64
 10  Last Interaction   440832 non-null  float64
 11  Churn              440832 non-null  float64
dtypes: float64(9), object(3)
memory usage: 40.4+ MB

In [14]:
dataset.describe()

,CustomerID,Age,Tenure,Usage Frequency,Support Calls,Payment Delay,Total Spend,Last Interaction,Churn
count,440832.000000,440832.000000,440832.000000,440832.000000,440832.000000,440832.000000,440832.000000,440832.000000,440832.000000
mean,225398.667955,39.373153,31.256336,15.807494,3.604437,12.965722,631.616223,14.480868,0.567107
std,129531.918550,12.442369,17.255727,8.586242,3.070218,8.258063,240.803001,8.596208,0.495477
min,2.000000,18.000000,1.000000,1.000000,0.000000,0.000000,100.000000,1.000000,0.000000
25%,113621.750000,29.000000,16.000000,9.000000,1.000000,6.000000,480.000000,7.000000,0.000000
50%,226125.500000,39.000000,32.000000,16.000000,3.000000,12.000000,661.000000,14.000000,1.000000
75%,337739.250000,48.000000,46.000000,23.000000,6.000000,19.000000,830.000000,22.000000,1.000000
max,449999.000000,65.000000,60.000000,30.000000,10.000000,30.000000,1000.000000,30.000000,1.000000

In [ ]:
# EDA - Univariate Analysis - Report .PDF